# All about .pylintrc
# Official documentation: https://pylint.pycqa.org/en/latest/user_guide/configuration/index.html
# Example: https://github.com/PyCQA/pylint/blob/main/pylintrc

[MASTER]
disable=
    consider-iterating-dictionary,
    consider-using-dict-items,
    consider-using-f-string,
    consider-using-in,
    invalid-name,
    line-too-long,
    logging-fstring-interpolation,
    missing-class-docstring,
    missing-final-newline,
    missing-function-docstring,
    missing-module-docstring,
    no-else-return,
    no-name-in-module,
    redefined-outer-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-statements,
    unnecessary-dunder-call,
    unspecified-encoding,
    use-dict-literal,
    using-constant-test,
    wrong-import-order,

extension-pkg-allow-list=pygame


[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html. You can also give a reporter class, eg
# mypackage.mymodule.MyReporterClass.
output-format=colorized

# Tells whether to display a full report or only the messages
reports=no

# Python expression which should return a note less than 10 (10 is the highest
# note). You have access to the variables errors warning, statement which
# respectively contain the number of errors / warnings messages and the total
# number of statements analyzed. This is used by the global evaluation report
# (RP0004).
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

# Template used to display messages. This is a python new-style format string
# used to format the message information. See doc for all details
#msg-template=
